body{
	.home{
		background:url("../../dist/img/bg1.jpg") no-repeat center center;
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover;
		height:700px;
		@include reinicia();
		.navbar-default{
			background-color:transparent;
			border-color:transparent;
			.navbar-nav{
				text-align:center;
				width:100%;

				li{
					display:inline-block;
					float:none;
					margin: 5px 15px;
				}
				a{
					color:$white!important;
					font-weight:bolder;
					margin-top: 40px;
					font-size:16px;
				}
			}
		}
		.home-title{
			color:$white;
			font-weight:bolder;
			margin-top:190px;
			font-size:45px;

		}
		.home-body{
			color:$white;
			font-weight:bold;
			margin-bottom:20px;
		}
	}
	.gStart{
		@include boton();
		border-radius:10%;
		font-weight:bold;
	}
	.start{
		padding:50px 0;
		background:url("../../dist/img/hand.png") no-repeat 75% 0;
		height:410px;

		.body-title{
			color:$green;
			font-weight:bolder;
			margin-top:85px;
		}
		.body{
			color:$text;
			font-size:12px;
			margin-bottom:25px;
		}
		button{
			margin-left:10px;
			border-radius:10%;
			font-weight:bold;
		}
	}
	.design{
		background-color:$white;

		.des-box{
			padding-top:100px;
		}
		
		.body-title{
			color:$green;
			font-weight:bolder;
			margin-top:100px;
			margin-left:5px;
		}
		.body{
			color:$text;
			font-size:15px;
			margin-bottom:25px;
			margin-left:5px;

		}
		#learn{
			@include boton();
			margin-left:10px;
			width:180px;
			height:auto;
		}
		img{
			width:400px;
			height:auto;
		}
	}
	.community{
		background-color:$grey;
		padding:100px 10px;
		.community-title{
			margin-top:80px;
			font-weight:bold;
			color:$text;
		}
		.community-body{
			color:$text;
			font-size:12px;
			margin-bottom:25px;
		}

	}
	.subscribe{
		background:url("../../dist/img/bg2.jpg") no-repeat center center;
		-webkit-background-size: cover; 
		-moz-background-size: cover; 
		-o-background-size: cover; 
		background-size: cover;
		height:600px;
		.subscribe-title{
			margin-top:250px;
			font-weight:bolder;
			color:$white;
			margin-bottom:50px;
		}
		.input-subscribe{
			width: 100% !important;
		}

		.input-icono{
    		right: 453px;
    		background-color: $green;
    		border: none;
			color: white;
		}

	}
	.download{
		background-color:$grey;
		padding:100px 50px;
		.download-title{
			color:$text;
			font-weight:bold;
		}
		.download-body{
			color:$text;
			font-size:15px;
			margin: 10px 20px;
		}
		button{
			@include boton();
			width:220px;
			margin-top:30px;
		}
	}
	
}
//gdyr37