@mixin reinicia(){
	padding:0;
	margin:0;
    max-width: 100%;
    x-overflow:hidden;
    font-family: 'Nunito', sans-serif;
}
@mixin boton(){
	background-color:$green;
	border-color:$green;
	padding:12px;
	color:$white;
}